<style>
    body {
        background-image: url('background-image.jpg'); /* Replace 'background-image.jpg' with your actual background image */
        background-size: cover;
        background-position: center;
        color: white;
        font-family: Arial, sans-serif;
    }

    .container-fluid {
        display: flex;
        color: whitesmoke;
        justify-content: center;
        align-items: center;
        height: 100vh;
        background-color: rgba(0, 0, 0, 0.5); /* Transparent black background */
    }

    .card {
        background-color: transparent;
        border: none;
        box-shadow: none;
    }

    .card-title,
    label {
        color: whitesmoke;
    }

    .card-title {
        border-bottom: 2px solid white;
        margin-bottom: 20px;
        padding-bottom: 10px;
    }

    .card-body {
        padding: 20px;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        max-width: 400px; /* Adjust the maximum width as needed */
        margin: auto;
    }

    td {
        padding: 8px;
    }

    input,
    button {
        width: 100%;
        padding: 10px;
        margin: 5px 0;
        box-sizing: border-box;
    }

    button {
        cursor: pointer;
    }
</style>


<div class="container-fluid gee">

    <div class="card card-body3 "> 
        <div class="card-title">
    <h1 class="text-center">Attendence</h1>
  </div>
  <div class="card-body">
    <form action="/atten" method="post" class="text-center">
    <input type="hidden" name="hided" value="{{user.emp_id}}">
      <table class="mx-auto"> 
        <tr>
          <td class="pr-3"><label for="name">Attendence :</label></td>
          <td><select id="attendence" name="attendence" class="form-control" required>
      <option value="Present">Present</option>
      <option value="Absent">Absent</option>
    </select></td>
        </tr>
        <tr>
          <td></td>
          <td><button type="submit" class="form-control btn btn-primary">Submit</button></td>
        </tr>
        
      </table>
    </form>
  </div>
    </div>
  
</div>
