{{!--  --}}
{{!-- <div class="first">
    <div class="container">
        <div class="row"> 
            <div class="col-md-3" style="text-align: left;">
                 <h2>HireLinks</h2>
            </div>
             <div class="col-md-9" style="text-align: end;">
                <i class="fa-solid fa-location-dot icon1 ms-2 me-2 m-3 "></i>123 Street, New York, USA
                <i class="fa-solid fa-message icon1  ms-2 me-2 m-3"></i>info@example.com
                 <i class="fa-solid fa-phone icon1 ms-2 me-2 m-3"></i>+012 345 67890
                    
                   
                    
                    <i class="fa-brands fa-facebook icon1 ms-3 me-3 "></i>
                    <i class="fa-brands fa-linkedin icon1  me-3"></i>
                    <i class="fa-brands fa-twitter icon1"></i> 
            </div>
        </div>
        
    </div>

</div> --}}

<nav class="navbar navbar-expand-lg first fixed-top">
  <div class="container">
    <a class="navbar-brand nai" href="#"><h1>HireLinks</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Profile</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/comhome">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/empregister">Employee Registered</a>
        </li>
       
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent;" >
            Attendance
          </a>
          <ul class="dropdown-menu" style="background-color: transparent;">
            <li> <a class="nav-link" aria-current="page" href="/empre">Attendence</a></li>
            <li><a class="nav-link" aria-current="page" href="/attenview" >Attendence view</a></li>
            
          </ul>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false" style="background-color: transparent;" >
            Salary
          </a>
          <ul class="dropdown-menu" style="background-color: transparent;">
            <li> <a class="nav-link" aria-current="page" href="/salary">Salary</a></li>
            <li><a class="nav-link" aria-current="page" href="/salview" >Salary view</a></li>
            
          </ul>
        </li>
        
        <li class="nav-item">
          <a class="nav-link" href="/logout">Logout</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav>
{{!--  --}}