{{> header}}

<div class="container-fluid p-0">
  <section id="fir">
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  
  <div class="carousel-inner">
    <div class="carousel-item active item1">
      <div class="card text-bg-dark">
  <img src="/images/carousel-1.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <div class="t">
      <div class="over1">Welcome to HireLinks</div>
      
      <div class="over2">Unlock Your Business<br> Growth</div>
  </div>
</div>
    </div>
    </div>
    <div class="carousel-item item1">
      <div class="card text-bg-dark">
  <img src="/images/carousel-2.jpg" class="card-img" alt="...">
  <div class="card-img-overlay">
    <div class="s">
      <div class="over1">Welcome to HireLinks</div>
      <div class="over2">Ready to Grow Your Business
</div>
    </div>
  </div>
</div>
    </div>
   
  </div>

</div>


</section>
<section id="second">
<div class="card1">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 ">
        <div class="card mt-5 mb-5">
  <img src="/images/1.jpg" class="card-img-top ma" alt="...">
  <div class="card-body">
    <h5 class="card-title">Award Winning</h5>
    <p class="card-text">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam</p>
  </div>
</div>
      </div>
      <div class="col-lg-3">
        <div class="card mt-5 mb-5" >
  <img src="/images/2.jpg" class="card-img-top ma" alt="...">
  <div class="card-body">
    <h5 class="card-title">Professional Staff</h5>
    <p class="card-text">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam</p>
  </div>
</div>
      </div>
      <div class="col-lg-3">
        <div class="card mt-5 mb-5" >
  <img src="/images/3.jpg" class="card-img-top ma" alt="...">
  <div class="card-body">
    <h5 class="card-title">Fair Prices</h5>
    <p class="card-text">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam</p>
    
  </div>
</div>
      </div>
      <div class="col-lg-3">
        <div class="card mt-5 mb-5">
  <img src="/images/4.jpg" class="card-img-top ma" alt="...">
  <div class="card-body">
    <h5 class="card-title">24/7 Support</h5>
    <p class="card-text">Stet stet justo dolor sed duo. Ut clita sea sit ipsum diam</p>
    
  </div>
</div>
      </div>
      </div>
      
  </div>

</div>
</section>

<section id="third">
<div class="container">
  <div class="background-div1 mt-5 ">
    <div class="row mb-5">
      <div class="col-lg-6">
        <a href="https://youtu.be/fIaws_cIHQU?si=CQUbxSrCr-fvTzxi">
          <i class="fa-solid fa-circle-play mar fa-4x"></i>
        </a>
      </div>
      <div class="col-lg-6 mt-5 px-5">
        <div class="bg-white rounded-top p-5">
          <p class="fs-5 fw-medium text-primary">About Us</p>
          <h1 class="display-6 mb-4">The Best Marketing Agency to Improve Your Business</h1>
          <p class="mb-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet
            diam et eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
         
          <a class="btn btn-outline-primary rounded-pill py-3 px-5" href="#">Explore More</a>
        </div>
      </div>
    </div>
  </div>
</div>
</section>
{{!--  --}}
<section id="fourth" class="no-transform">
<div class="fee">
<div class="container mt-5">
  <div id="brandCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row mt-5 mb-5">
          <div class="col-lg-3">
            <div class="card">
          <img src="/images/testimonial-1.jpg" class="card-img-top mt-2 ms-2" alt="Brand 1">
          <div class="card-body rem">
            <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et
                        sit, sed stet lorem sit clita duo justo</p>
                    <h5>Alex Robin</h5>
                    <span class="text-primary">Profession</span>
          </div>
        </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
          <img src="/images/testimonial-2.jpg" class="card-img-top mt-2 ms-2" alt="Brand 1">
          <div class="card-body rem">
            <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et
                        sit, sed stet lorem sit clita duo justo</p>
                    <h5>Adam Crew</h5>
                    <span class="text-primary">Profession</span>
          </div>
        </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
          <img src="/images/testimonial-3.jpg" class="card-img-top mt-2 ms-2" alt="Brand 1">
          <div class="card-body rem">
            <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et
                        sit, sed stet lorem sit clita duo justo</p>
                    <h5>Boris Johnson</h5>
                    <span class="text-primary">Profession</span>
          </div>
        </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
          <img src="/images/testimonial-4.jpg" class="card-img-top mt-2 ms-2" alt="Brand 1">
          <div class="card-body rem">
            <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et
                        sit, sed stet lorem sit clita duo justo</p>
                    <h5>Robert Jordan</h5>
                    <span class="text-primary">Profession</span>
          </div>
        </div>
          </div>
        </div>
      </div>
      <div class="carousel-item">
        <div class="row mt-5 mb-5">
          <div class="col-lg-3">
            <div class="card">
          <img src="/images/testimonial-4.jpg" class="card-img-top mt-2 ms-2" alt="Brand 1">
          <div class="card-body rem">
            <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et
                        sit, sed stet lorem sit clita duo justo</p>
                    <h5>Robert Jordan</h5>
                    <span class="text-primary">Profession</span>
          </div>
        </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
          <img src="/images/testimonial-3.jpg" class="card-img-top mt-2 ms-2" alt="Brand 1">
          <div class="card-body rem">
            <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et
                        sit, sed stet lorem sit clita duo justo</p>
                    <h5>Boris Johnson</h5>
                    <span class="text-primary">Profession</span>
          </div>
        </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
          <img src="/images/testimonial-2.jpg" class="card-img-top mt-2 ms-2" alt="Brand 1">
          <div class="card-body rem">
            <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et
                        sit, sed stet lorem sit clita duo justo</p>
                    <h5>Adam Crew</h5>
                    <span class="text-primary">Profession</span>
          </div>
        </div>
          </div>
          <div class="col-lg-3">
            <div class="card">
          <img src="/images/testimonial-1.jpg" class="card-img-top mt-2 ms-2" alt="Brand 1">
          <div class="card-body rem">
            <p class="mb-4">Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita erat ipsum et lorem et
                        sit, sed stet lorem sit clita duo justo</p>
                    <h5>Alex Robin</h5>
                    <span class="text-primary">Profession</span>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
</section>
{{!--  --}}
{{!--  --}}
<section id="fifth">
  <div class="container neee">
  <div class="row mt-5 mb-5">
    <div class="col-lg-6">

      <div class="card text-center ms-5 me-5 mt-5 " style="border: 0px; background-color: whitesmoke;">
  
  <div class="card-body">
    <h1 class="card-title">Need Our Expert Help? We're Here!</h1>
    <p class="card-text mt-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et eos. Clita
    erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
    <p class="mb-4 mt-4">Tempor erat elitr rebum at clita. Diam dolor diam ipsum sit. Aliqu diam amet diam et
    eos. Clita erat ipsum et lorem et sit, sed stet lorem sit clita duo justo</p>
   <button class="btn btn-outline-primary mt-5 mb-5"><span class="" style="width: 55px; height: 55px;">
                            <i class="fa fa-phone-alt text-white"></i>
                        </span>+012 345 6789</button>
    
  </div>
</div> 
    </div>

    <div class="col-lg-6 mt-5 mb-5">
      <h2 class="mb-4">Get A Free Quote</h2>
                    <div class="row g-3 me-5">
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" placeholder="Your Name">
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="mail" placeholder="Your Email">
                                <label for="mail">Your Email</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="mobile" placeholder="Your Mobile">
                                <label for="mobile">Your Mobile</label>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-floating">
                                <select class="form-select" id="service">
                                    <option selected="">Production</option>
                                    <option value="">Sales</option>
                                    <option value="">Human Resource</option>
                                    <option value="">Marketing</option>
                                </select>
                                <label for="service">Department</label>
                            </div>
                        </div>
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="Leave a message here" id="message" style="height: 130px"></textarea>
                                <label for="message">Message</label>
                            </div>
                        </div>
                        <div class="col-12 text-center">
                            <button class="btn btn-outline-primary w-100 py-3" type="submit">Submit Now</button>
                        </div>
                    </div>
    </div>
  </div>
</div>
</section>
{{!--  --}}
</div>
{{> footer}}


